[submodule "HTML CSS"]
	path = HTML CSS
	url = git@github.com:Iswenzz/Simplon-HTML-CSS.git
[submodule "JS"]
	path = JS
	url = git@github.com:Iswenzz/Simplon-JS.git
[submodule "PHP SQL"]
	path = PHP SQL
	url = git@github.com:Iswenzz/Simplon-PHP-SQL.git
